<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

   <listeners>

   <listener class-name="Utility.ExtentReportsCaptchas"></listener>

    </listeners> 

   <parameter name="browser" value="chrome"/>
   
   <test thread-count="5" name="Test">
  
  
   <classes>
  
            <!--   <class name="TestClass.CaptchaAutomationTC"></class>-->
           <!--  <class name="TestClass.MatheMaticalCaptcha_Automation"></class> -->
               <!--      <class name="TestClass.Recaptcha_Automation"></class>-->
                 
                 <!--    <class name="TestClass.OtpVerification_Automation"></class>-->
                 
                 <!--    <class name="TestClass.Otp_email"></class>-->
                 
                <!--   <class name="TestClass.OTP_Email_Verification"></class>-->
                
                 
                  <!--   <class name="TestClass.Temp_otp"></class>-->
                   
                     <class name="TestClass.Strum_Captcha"></class>
  
  
   </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
